<a href="https://colab.research.google.com/github/acrei27/BTE320/blob/main/In_Class_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h=10
r=3
pi=3.14

area=2*pi*r**2+2*pi*r*h
print(area)

244.92000000000002

In [ ]:
choice = input("Do you wish to play a game? (yes or no): ")
while choice == 'yes':
    p1 = input("Player 1, choose rock, paper, or scissors: ")
    p2 = input("Player 2, choose rock, paper, or scissors: ")
    if p1 == p2:
        print('Draw')
    elif p1 == 'rock' and p2 == 'scissors':
        print('Player one wins')
    elif p1 == 'paper' and p2 == 'rock':
        print('Player one wins')
    elif p1 == 'scissors' and p2 == 'paper':
        print('Player one wins')
    else:
        print('Player two wins')
    choice = input("Do you wish to play another game? (yes or no): ")

print('Thanks for playing')

Do you wish to play a game? (yes or no): yes
Player 1, choose rock, paper, or scissors: rock
Player 2, choose rock, paper, or scissors: paper
Player two wins
Do you wish to play another game? (yes or no): no
Thanks for playing

In [ ]:
n1=float(input("Choose number:"))
n2=float(input("Choose number:"))
operation= str(input("make calculation using operations '+', '-', '*', '/', '**':"))
if operation=='+':
  print(n1+n2)
elif operation=='-':
  print(n1-n2)
elif operation=='*':
  print(n1*n2)
elif operation=='/':
  print(n1/n2)
elif operation=='**':
  print(n1**n2)

Choose number:5
Choose number:5
make calculation using operations '+', '-', '*', '/', '**':*
25.0

In [ ]:
flatRate = 5
hourlyRate = 2.5

for hour in range(1,9, 1):
  charge= flatRate+hourlyRate*hour
  print(charge)

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
flatRate = 5
hourlyRate = 2.5

for hour in range(1,9, 1):
  charge= flatRate+hourlyRate*hour
  if charge < 10.0:
    charge=10.0
  elif charge > 20:
    charge=20.0
  print(hour,charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
fixed=20
ad=2*ad**.5
ticketprice=10
fixedcost=200
for ad in range (0,201,25):
  additional=2*round(ad**.5)
  profit=(20+additional)*10-200-ad
  print(ad,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
L = []
item=int(input('Give a value:'))
while item != 0:
  L.append(item)
  item=int(input('Give a value:'))
print(L)

Give a value:1
Give a value:2
Give a value:3
Give a value:0
[1, 2, 3]

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[i+1]=names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
def calcFee(hours, decimals=2):
  fee = round (5 + hours * 2.5, decimals)
  return fee
def displayFee(fee):
  print(fee)
hours_parked= int(input('Enter Hours Parked:'))
f = calcFee(hours_parked)
displayFee(f)

Enter Hours Parked:5
17.5

In [ ]:
def reverse(string):
    if len(string) == 1:
        return string
    else:
        return reverse(string[1:])+string[0]
print(reverse('Hello'))

olleH

In [ ]:
def rev(s):
  if len(s)==1:
    return s
  else:
    return rev(s[1:])+s[0]
rev('Halloween')

'neewollaH'

In [ ]:
def quickSort(L):
  if len(L)<2:
    return L
  else:
    pivot= L[len(L)//2]
    less=[]
    equal=[]
    larger=[]
    for el in L:
      if el<pivot:
        less.append(el)
      elif el==pivot:
        equal.append(el)
      else:
        larger.append(el)
    return quickSort(less)+equal+quickSort(larger)
    pivot=...
    less=[]
    equal=[]
    larger=[]
    for el in L:
      if el<pivot:
        less.append(el)
      elif el==pivot:
        equal.append(el)
      else:
        larger.append(el)
    return quickSort(less)+equal+quickSort(larger)
  quickSort([8,2,6,9,1,0])

In [24]:
def wAvg(L,w):
  if sum(w) != 1:
    w= [weight/sum(w) for weight in w]
    weighted_average = sum([L[i]*w[i] for i in range(len(L))])
  return weighted_average
L=[1,2,3]
w=[.1,.3,.4]
print(wAvg(L,w))

2.375

In [34]:
def wAvg(L,w):
  res=[]
  try:
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print("Division by zero")
    return []
  except TypeError:
    print("Non-numerical objects found")
    return []
  except Exception as e:
    print(f'Unknown Error: (e)')
    return float('nan')

wAvg([1,2,3],[.1,.3,.4])

2.375